.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.qr-section,
.sms-section {
    margin-bottom: 20px;
}

.qr-code-box {
    border: 1px solid #000;
    width: 200px;
    height: 200px;
}

#qrCodeDisplay img {
    width: 100%;
    height: auto;
}

.btn{
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.btn-secondary, .btn-primary{
    border: 2px solid;
    margin: 10px auto;
    display: block;
    width: 80%;
    max-width: 300px;
}

.btn.hover{
    transform: scale(1.05);
}