.reseñas {
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  .calificación {
    text-align: center;
  }
  
  
  .estrellas {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  .estrellas li {
    margin-right: 5px;
  }
  
  .estrellas li a {
    font-size: 30px;
    color: #ccc;
    text-decoration: none;
  }
  
  .estrellas li a:hover,
  .estrellas li a:hover ~ li a {
    color: #ffc400;
  }
  .estrellas li a.clicked,
  .estrellas li a.clicked ~ li a {
      color: #ffc400;
  }
  
  #comentario {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
 /* select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  textarea {
    height: 100px;
  }
  */
  button {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #22b24c;
    color: #fff;
  }
  .centrado {
    text-align: center;
    margin: 0 auto;
  }

    