/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 1;
    padding: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.chat-container {
    width: 400px;
    background-color: #f4ecec;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.chat {
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow-y: auto;
}

h1 {
    color: #000000;
    text-align: center;
}

#chat-box {
    flex: 1;
    padding: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 4px 0 0 4px;
}

button {
    background-color:#4cae4c;
    color: #000000;
    border: none;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}


.consumer-message {
    background-color: #ffffff;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

.vendor-message {
    background-color: #f54e45b7;
    padding: 10px;
    margin: 5px 0;
    border-radius: 8px;
}

.typing-indicator {
    margin-top: 5px;
    color: #999;
}

